$def with (form)
<!DOCTYPE html>
<html>
<head>
<title>NewCustomer</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Mining Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstarp-css -->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstarp-css -->
<!-- css -->
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
<!--// css -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/modernizr.custom.js"></script>
</head>
<body>
	<!-- banner -->
	<div class="banner">
		<div class="banner-content">
			<div class="logo">
				<a href="/index">Car Renting</a>
			</div>
			<div class="top-nav">
				<span class="menu">MENU</span>
				<ul class="nav1 cl-effect-15">
					<li><a href="/index" data-hover="Home">Home</a></li>
					<li><a href="/new_customer" class="active">New Customer</a></li>
					<li><a href="/getreservation" data-hover="Get Reservation">Get Reservation</a></li>
					<li><a href="/checkorder" data-hover="Check Order">Check Order</a></li>
					<li><a href="/contactus" data-hover="Contact Us">Contact Us</a></li>
				</ul>
				<!-- script-for-menu -->
					<script>
						 $$( "span.menu" ).click(function() {
						$$( "ul.nav1" ).slideToggle( 300, function() {
						// Animation complete.
							});
							});
					</script>
				<!-- /script-for-menu -->
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- contact -->
	<div class="contact-top">
		<!-- container -->
		<div class="container">
			<div class="contact-info">
				<h3>You can sign up here. Welcome!</h3>
                Do you know? Our online carrrent use customer's mobile phone number as identification.<br>
                So we dont need password. So don't worry about forgetting your password.
			</div>
			<div class="mail-grids">
				<div class="col-md-6 mail-grid-left wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
					<h3>Address</h3>
					<h5>SJTU Shanghai Jiaotong University Domitry.</h5>
					<h4>Headquarters</h4>
					<p>800 Donchuan Rd.
						<span>Min hang district</span>
						Shanghai, China
					</p>
					<h4>Get In Touch</h4>
					<p>Telephone: +86 1500000000
						<span>FAX: +86 1500000001</span>
						E-mail: <a href="mailto:webster@onlinecarrent.com">webster@onlinecarrent.com</a>
					</p>
				</div>
				<div class="col-md-6 contact-form">
					<form action="" method="post">
						$:form.render()
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //gallery -->
	<!-- footer -->
	<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="footer-info">
				<h3>Contact</h3>
				<p class="f-address">800 Dongchuan Rd. Shanghai, China</p>
				<ul>
					<li><a href="#" class="facebook"> </a>
					<li><a href="#" class="facebook twitter"> </a>
					<li><a href="#" class="facebook chrome"> </a>
					<li><a href="#" class="facebook dribbble"> </a>
					<li><a href="#" class="facebook pinterest"> </a>
				</ul>
				<p class="copyright">Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">ZHK</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">ZHKcollection</a></p>
			</div>	
		</div>
		<!-- //container -->
	</div>
	<!-- //footer -->
</body>	
</html>
