$def with (orders)
<!DOCTYPE html>
<html>
<head>
<title>Please enter your phone number</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Mining Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- bootstarp-css -->
<link href="/static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<!--// bootstarp-css -->
<!-- css -->
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
<!--// css -->
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/modernizr.custom.js"></script>
</head>
<body>
	<!-- banner -->
	<div class="banner">
		<div class="banner-content">
			<div class="logo">
				<a href="index">Car Renting</a>
			</div>
			<div class="top-nav">
				<span class="menu">MENU</span>
				<ul class="nav1 cl-effect-15">
					<li><a href="/index" data-hover="Home">Home</a></li>
					<li><a href="/new_customer" data-hover="New Customer">New Customer</a></li>
					<li><a href="/getreservation" data-hover="Get Reservation">Get Reservation</a></li>
					<li><a href="/checkorder" class="active">Check Order</a></li>
					<li><a href="/contactus" data-hover="Contact Us">Contact Us</a></li>
				</ul>
				<!-- script-for-menu -->
					<script>
						 $$( "span.menu" ).click(function() {
						$$( "ul.nav1" ).slideToggle( 300, function() {
						// Animation complete.
							});
							});
					</script>
				<!-- /script-for-menu -->
			</div>
		</div>
	</div>
	<!-- //banner -->
	<!-- contact -->
	<div class="contact-top">
		<!-- container -->
		<div class="container">
			<div class="contact-info">
			  <h3>This is the result!</h3>
			  <p>Welcome back! Old friend!</p>
			  <p>&nbsp;</p>
		</div>
        <center>
        <table border="1">
        	<tr>
        		<td>&nbsp Reserve ID&nbsp </td><td>&nbsp Vehicle type&nbsp </td><td>&nbsp Vehicle license&nbsp </td><td>&nbsp Get time&nbsp </td><td>&nbsp Retrun time&nbsp </td><td>&nbsp Price&nbsp </td><td>&nbsp State&nbsp </td><td>&nbsp Cancel&nbsp </td>
        	</tr>
        	$for order in orders:
        	<tr>
        		$code:
        			if order.get_office==1:
        				go = 'Shanghai'
        			elif order.get_office==2:
        				go = 'Guangzhou'
        			elif order.get_office==3:
        				go = 'Beijing'
        			elif order.get_office==4:
        				go = 'Fujian'
        			if order.return_office==1:
        				ro = 'Shanghai'
        			elif order.return_office==2:
        				ro = 'Guangzhou'
        			elif order.return_office==3:
        				ro = 'Beijing'
        			elif order.return_office==4:
        				ro = 'Fujian'
        		<td>&nbsp $order.reserve_id&nbsp </td><td>&nbsp $order.type&nbsp </td><td>&nbsp $order.vehicle_liscense&nbsp </td><td>&nbsp $order.get_time@$go&nbsp </td><td>&nbsp $order.return_time@$ro&nbsp </td><td>&nbsp $order.price&nbsp </td><td>&nbsp $order.state&nbsp </td>
        		$if order.state == 'reserved':
			<td> &nbsp <a href="/cancel_order/$order.reserve_id">Cancel</a></td>
        	</tr>
        </table>        
        </center>
        
        <p>
     	   Office                      Address</p>
        <p>Shanghai:                    800 Dongchuan RD</p>
        <p>Guangzhou:                   78 Baiyun RD</p>
        <p>Beijin:                      19 King"s RD</p>
        <p>Fujian:                      989 Queen"s RD
        </p>
        
		<!-- //container -->
	</div>
	<!-- //gallery -->
	<!-- footer -->
	<div class="footer">
		<!-- container -->
		<div class="container">
			<div class="footer-info">
				<h3>Contact</h3>
				<p class="f-address">800 Dongchuan Rd. Shanghai, China</p>
				<ul>
					<li><a href="#" class="facebook"> </a>
					<li><a href="#" class="facebook twitter"> </a>
					<li><a href="#" class="facebook chrome"> </a>
					<li><a href="#" class="facebook dribbble"> </a>
					<li><a href="#" class="facebook pinterest"> </a>
				</ul>
				<p class="copyright">Copyright &copy; 2015.Company name All rights reserved.More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">ZHK</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">ZHKcollection</a></p>
			</div>	
		</div>
		<!-- //container -->
	</div>
	<!-- //footer -->
</body>	
</html>
